@import 'https://fonts.googleapis.com/css?family=Patua+One|Raleway:500';
@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i,800,800i,900,900i|Neuton:200,300,400,400i,700,800|Noto+Serif+SC:200,300,400,500,600,700,900|Vollkorn:400,400i,600,600i,700,700i,900,900i|Yrsa:300,400,500,600,700';
@import url(node_modules/@fortawesome/fontawesome-free/css/all.css);
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

abbr, acronym {
  border: 0; }

html, body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #475860; }

a {
  text-decoration: none;
  color: inherit; }

.resume {
  height: 279mm;
  width: 216mm;
  background-color: #fffce4;
  margin: 20px auto;
  position: relative;
  overflow: hidden; }
  .resume .header {
    height: 60px;
    background-color: #0E79B2; }
    .resume .header h1 {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 30pt;
      font-family: 'Patua One', sans-serif;
      color: #C2DFE3; }
  .resume .bootstrap-banner {
    height: 320px;
    overflow: hidden;
    position: relative; }
    .resume .bootstrap-banner img {
      filter: grayscale(70%) brightness(18%);
      width: 100%; }
    .resume .bootstrap-banner > .title {
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 1;
      color: #fffce4;
      transform: translate(-50%, 0);
      font-size: 28px;
      font-weight: 600;
      font-family: 'Yrsa', serif;
      width: 70%;
      text-align: center;
      line-height: 35px; }
  .resume .bootstrap-circles {
    font-size: 0;
    font-family: 'Yrsa', serif;
    padding: 10px;
    position: absolute;
    bottom: 0; }
    .resume .bootstrap-circles > div {
      font-size: initial;
      display: inline-block;
      width: 33%;
      text-align: center;
      height: 200px;
      vertical-align: top;
      padding: 10px;
      box-sizing: border-box; }
    .resume .bootstrap-circles .fas, .resume .bootstrap-circles .fab {
      font-size: 50px;
      margin: 8px;
      color: #fffce4; }
    .resume .bootstrap-circles .title {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 5px;
      color: #fffce4; }
    .resume .bootstrap-circles .text {
      font-weight: 400;
      font-size: 17px;
      color: rgba(255, 252, 228, 0.7); }
  .resume .meaningful-quotes {
    font-size: 0; }
    .resume .meaningful-quotes .quote {
      font-size: initial;
      display: inline-block;
      width: 50%;
      padding: 20px;
      box-sizing: border-box;
      vertical-align: middle;
      font-family: 'Yrsa', serif;
      line-height: 20px; }
    .resume .meaningful-quotes .text {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 100; }
    .resume .meaningful-quotes .author, .resume .meaningful-quotes .company {
      text-align: right;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      font-weight: 400; }
    .resume .meaningful-quotes .company {
      color: rgba(0, 0, 0, 0.6); }
  .resume .symbolic-chevron {
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #a3a197;
    display: block;
    position: absolute;
    top: 50%;
    right: -11px;
    transform: translate(0, -50%);
    z-index: 2; }
    .resume .symbolic-chevron:after {
      content: " ";
      height: 0;
      width: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid #fffce4;
      display: block;
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translate(0, -50%); }
    .resume .symbolic-chevron.right {
      border-left: none;
      border-right: 15px solid #a3a197;
      right: 0px; }
      .resume .symbolic-chevron.right:after {
        border-left: none;
        border-right: 15px solid #fffce4;
        right: -21px; }
    .resume .symbolic-chevron.up {
      border-top: none;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #a3a197;
      right: 50%;
      transform: translate(50%, 0);
      bottom: -7px;
      top: auto; }
      .resume .symbolic-chevron.up:after {
        border-top: none;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fffce4;
        right: -15px;
        top: 13px; }
  .resume .work-experience {
    font-size: 0;
    background-color: #fffce4e6; }
    .resume .work-experience .title {
      padding-top: 20px;
      font-size: 30px;
      text-align: center;
      font-family: Yrsa, serif; }
    .resume .work-experience .column {
      width: 50%;
      display: inline-block;
      font-size: initial;
      box-sizing: border-box;
      vertical-align: top;
      position: relative; }
      .resume .work-experience .column:last-child {
        padding-left: 0; }
      .resume .work-experience .column.small {
        width: 35%; }
        .resume .work-experience .column.small + .column {
          width: 65%; }
      .resume .work-experience .column:first-of-type:after {
        content: " ";
        display: block;
        height: 70%;
        width: 0px;
        border-right: 3pt solid #a3a197;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%); }
      .resume .work-experience .column:first-of-type .experience:nth-child(2):after {
        content: " ";
        display: block;
        height: 0px;
        width: 70%;
        border-top: 3pt solid #a3a197;
        position: absolute;
        top: 0;
        right: 0; }
    .resume .work-experience .experience {
      border-radius: 3px;
      padding: 60px 20px 0px 15px;
      position: relative; }
    .resume .work-experience .company {
      font-size: 20px;
      display: inline-block;
      font-weight: 600;
      top: 13px;
      left: 15px;
      position: absolute;
      font-family: Yrsa, serif; }
    .resume .work-experience .duration {
      text-align: right;
      font-size: 15px;
      display: inline-block;
      font-weight: 100;
      top: 36px;
      left: 15px;
      position: absolute;
      font-family: Yrsa, serif; }
    .resume .work-experience .description {
      font-size: 16px;
      font-family: Yrsa, serif;
      font-weight: 100; }
      .resume .work-experience .description > li {
        margin-bottom: 8px; }
      .resume .work-experience .description .bullets {
        list-style-type: disc;
        margin-left: 17px; }
        .resume .work-experience .description .bullets li {
          margin: 0; }
  .resume .full-stack {
    font-size: 0;
    position: relative;
    padding: 45px 0px 20px 0px;
    background-color: #fffce4; }
    .resume .full-stack > .title {
      padding-top: 20px;
      font-size: 30px;
      font-family: Yrsa, serif;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 0; }
    .resume .full-stack .row {
      position: relative; }
    .resume .full-stack .tier {
      width: 33.33333%;
      font-size: initial;
      display: inline-block;
      vertical-align: top;
      padding: 15px;
      box-sizing: border-box;
      position: relative; }
      .resume .full-stack .tier:last-child {
        margin-right: 0; }
      .resume .full-stack .tier .title {
        font-size: 18px;
        line-height: 28px;
        text-align: center; }
      .resume .full-stack .tier .skills {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        font-family: Yrsa, serif; }
    .resume .full-stack .row:first-of-type:after {
      content: " ";
      height: 0;
      width: 70%;
      border-bottom: 3pt solid #a3a197;
      position: absolute;
      bottom: -9px;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1; }
    .resume .full-stack .row:first-of-type .tier:after {
      content: " ";
      width: 0;
      height: 140%;
      border-right: 3pt solid #a3a197;
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(0, 50%);
      z-index: 1; }
    .resume .full-stack .row:first-of-type .tier:last-child:after {
      display: none; }
  .resume .schooling {
    padding: 15px 10px 15px 110px;
    background-color: #191923;
    color: #fff;
    position: relative;
    font-family: 'Patua One', sans-serif; }
    .resume .schooling i {
      position: absolute;
      top: 50%;
      left: 55px;
      font-size: 45px;
      transform: translate(-50%, -50%); }
    .resume .schooling .title {
      font-size: 26px;
      line-height: 30px; }
    .resume .schooling .institution {
      font-family: Yrsa, serif;
      font-size: 24px;
      line-height: 28px;
      font-weight: 500; }
    .resume .schooling .notes {
      font-family: Yrsa, serif;
      font-size: 18px;
      font-weight: 100;
      line-height: 25px;
      margin-top: 13px; }
  .resume .images {
    font-size: 0;
    height: 164px; }
    .resume .images div {
      height: 100%;
      width: 20%;
      display: inline-block;
      overflow: hidden; }
    .resume .images img {
      height: 100%; }
  .resume .projects {
    position: relative;
    font-size: 0;
    background: #fffce4;
    height: 250px; }
    .resume .projects > .title {
      padding-top: 20px;
      font-size: 30px;
      font-family: Yrsa, serif;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 0; }
    .resume .projects .project {
      position: relative;
      display: inline-block;
      font-size: initial;
      width: 50%;
      box-sizing: border-box;
      padding: 30px 20px 20px 20px; }
      .resume .projects .project .title {
        border-top: 3pt solid #a3a197;
        font-family: Yrsa, serif;
        font-size: 20px;
        padding: 5px 0;
        max-width: 270px; }
    .resume .projects .align-left .symbolic-chevron, .resume .projects .align-right .symbolic-chevron {
      top: 18px;
      left: 65px;
      transform: none;
      bottom: auto; }
    .resume .projects .align-right .symbolic-chevron {
      right: 65px;
      left: auto; }
    .resume .projects .align-right .title {
      margin-left: auto;
      text-align: right; }
  .resume .contact {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: 0 8%; }
    .resume .contact li {
      display: inline-block;
      position: relative;
      padding-left: 30px; }
    .resume .contact i {
      margin-right: 5px;
      font-size: 19px;
      vertical-align: middle;
      position: absolute;
      left: 4px;
      top: 6px; }
  .resume .footer {
    position: absolute;
    width: 100%;
    background-color: #191923;
    bottom: 0;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Patua One', sans-serif; }

@page {
  size: auto;
  /* auto is the initial value */
  margin: 0mm;
  /* this affects the margin in the printer settings */ }

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/ }
  .resume {
    margin: 0;
    page-break-after: always; } }

/*# sourceMappingURL=style.css.map */