@import 'https://fonts.googleapis.com/css?family=Patua+One|Raleway:500';
@import 'https://fonts.googleapis.com/css?family=Alegreya:400,400i,500,500i,700,700i,800,800i,900,900i|Neuton:200,300,400,400i,700,800|Noto+Serif+SC:200,300,400,500,600,700,900|Vollkorn:400,400i,600,600i,700,700i,900,900i|Yrsa:300,400,500,600,700';
@import url(node_modules/@fortawesome/fontawesome-free/css/all.css);
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

:focus {
  outline: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

abbr, acronym {
  border: 0; }

html, body {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #191923; }

.resume {
  height: 279mm;
  width: 216mm;
  background-color: #fff;
  margin: 20px auto;
  position: relative; }
  .resume .header {
    height: 60px;
    background-color: #0E79B2; }
    .resume .header h1 {
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 30pt;
      font-family: 'Patua One', sans-serif;
      color: #C2DFE3; }
  .resume .bootstrap-banner {
    height: 320px;
    overflow: hidden;
    position: relative; }
    .resume .bootstrap-banner img {
      filter: grayscale(70%) brightness(18%);
      width: 100%; }
    .resume .bootstrap-banner > .title {
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 1;
      color: #fff;
      transform: translate(-50%, 0);
      font-size: 28px;
      font-weight: 600;
      font-family: 'Yrsa', serif;
      width: 70%;
      text-align: center;
      line-height: 35px; }
  .resume .bootstrap-circles {
    font-size: 0;
    font-family: 'Yrsa', serif;
    padding: 10px;
    position: absolute;
    bottom: 0; }
    .resume .bootstrap-circles > div {
      font-size: initial;
      display: inline-block;
      width: 33%;
      text-align: center;
      height: 200px;
      vertical-align: top;
      padding: 10px;
      box-sizing: border-box; }
    .resume .bootstrap-circles .fas, .resume .bootstrap-circles .fab {
      font-size: 50px;
      margin: 8px;
      color: #fff; }
    .resume .bootstrap-circles .title {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 5px;
      color: #fff; }
    .resume .bootstrap-circles .text {
      font-weight: 400;
      font-size: 17px;
      color: rgba(255, 255, 255, 0.7); }
  .resume .meaningful-quotes {
    font-size: 0; }
    .resume .meaningful-quotes .quote {
      font-size: initial;
      display: inline-block;
      width: 50%;
      padding: 20px;
      box-sizing: border-box;
      vertical-align: middle;
      font-family: 'Yrsa', serif;
      line-height: 20px; }
    .resume .meaningful-quotes .text {
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 100; }
    .resume .meaningful-quotes .author, .resume .meaningful-quotes .company {
      text-align: right;
      color: rgba(0, 0, 0, 0.8);
      font-size: 18px;
      font-weight: 400; }
    .resume .meaningful-quotes .company {
      color: rgba(0, 0, 0, 0.6); }
  .resume .work-experience {
    font-size: 0; }
    .resume .work-experience .title {
      font-size: 28px;
      text-align: center;
      line-height: 40px; }
    .resume .work-experience .column {
      width: 50%;
      display: inline-block;
      font-size: initial;
      padding: 0 10px;
      box-sizing: border-box;
      vertical-align: top; }
      .resume .work-experience .column:last-child {
        padding-left: 0; }
      .resume .work-experience .column.small {
        width: 35%; }
        .resume .work-experience .column.small + .column {
          width: 65%; }
    .resume .work-experience .experience {
      background-color: #C2DFE3;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px; }
      .resume .work-experience .experience:last-child {
        margin: 0; }
    .resume .work-experience .company {
      font-size: 18px;
      display: inline-block; }
    .resume .work-experience .duration {
      text-align: right;
      font-size: 15px;
      display: inline-block; }
  .resume .full-stack {
    font-size: 0;
    position: relative;
    padding: 28px 10px 0 10px; }
    .resume .full-stack > .title {
      font-size: 28px;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 0; }
    .resume .full-stack .tier {
      width: calc((100%)/3 - 10px);
      font-size: initial;
      display: inline-block;
      vertical-align: top;
      background-color: #C2DFE3;
      border-radius: 5px;
      margin-right: 5px; }
      .resume .full-stack .tier:last-child {
        margin-right: 0; }
      .resume .full-stack .tier .title {
        font-size: 18px;
        text-align: center; }
      .resume .full-stack .tier .skills {
        font-size: 12px; }
  .resume .schooling {
    margin: 10px;
    padding: 10px 10px 10px 110px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative; }
    .resume .schooling i {
      position: absolute;
      top: 50%;
      left: 55px;
      font-size: 45px;
      transform: translate(-50%, -50%); }
    .resume .schooling .title {
      font-size: 22px;
      font-weight: 600;
      line-height: 25px; }
    .resume .schooling .institution {
      font-size: 22px;
      line-height: 25px; }
    .resume .schooling .notes {
      font-size: 16px;
      font-weight: 100;
      line-height: 25px;
      margin-top: 10px; }
  .resume .images {
    font-size: 0;
    height: 164px; }
    .resume .images div {
      height: 100%;
      max-width: 20%;
      display: inline-block;
      overflow: hidden; }
    .resume .images img {
      height: 100%; }
  .resume .contact li {
    display: inline-block; }
  .resume .footer {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: white;
    padding: 10px;
    text-align: center; }

@page {
  size: auto;
  /* auto is the initial value */
  margin: 0mm;
  /* this affects the margin in the printer settings */ }

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/ }
  .resume {
    margin: 0;
    page-break-after: always; } }

/*# sourceMappingURL=style.css.map */